.table-container {
    margin-top: 20px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table-container tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .autorButton {
    display: inline-block;
    padding: 5px 20px ;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 3px;
  }
  .autorButton:hover {
    background-color: #0056b3;
  }


  .create-button-autor {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .create-button-autor:hover {
    background-color: #0056b3;
  }